*{padding: 0;margin: 0;box-sizing: border-box;}
.col-12{width: 100%;float: left;padding: 0 15px;}
.col-6{width: 50%;float: left;padding: 0 15px;}
.col-9{width: 75%;float: left;padding: 0 15px;}
.col-3{width: 25%;float: left;padding: 0 15px;}
.col-4{width: 33.33%;float: left;padding: 0 15px;}
.pt-70{padding-top: 70px;}
.pb-70{padding-bottom: 70px;}
body{
    font-family: 'Lato', sans-serif;
}
.container{
    width: 1170px;
    margin: auto;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.fix{
    overflow: hidden;
}
ul{padding: 0;margin: 0;list-style: none;}
a{
    text-decoration: none;
    transition: .3s;
}



/*  header-area start   */


.header-area {
	border-top: 5px solid blue;
	min-height: 120px;
}
.logo {
	float: left;
    margin-top: 34px;
}
.logo img {}
.search-icon {
	float: right;
	margin-top: 50px;
	margin-left: 25px;
	position: relative;
	padding-left: 25px;
}
.search-icon::before {
	background: red;
	content: "";
	width: 2px;
	height: 18px;
	left: 0;
	position: absolute;
    top: 1px;
}
.main-menu {
	float: right;
}
.main-menu ul{}
.main-menu ul li {
	display: inline-block;
	margin-left: 40px;
	position: relative;
}
.main-menu ul li a {
	color: #666666;
	font-size: 15px;
	padding: 50px 0;
	display: block;
}
.main-menu ul li:hover > a{color: #6515f8;}


/*   dropdown menu  */


.main-menu ul li ul.submenu {
	position: absolute;
	background-color: black;
	width: 260px;
	top: 110%;
	left: 0;
	border-top: 5px solid blue;
	visibility: hidden;
	opacity: 0;
	transition: .3s;
	z-index: 99;
}
.main-menu ul li:hover ul.submenu{opacity: 1;visibility: visible;top: 100%;}

.main-menu ul li ul.submenu li {
	margin: 0;
	display: block;
	border-bottom: 2px solid #8f7777;
}
.main-menu ul li ul.submenu li a {
	color: white;
	padding: 15px 20px;
	font-size: 15px;
}
.main-menu ul li ul.submenu li:hover > a{
    background-color: blue;
    padding-left: 40px;
}

.main-menu ul li ul.submenu li ul.submenu {
	left: 100%;
	top: 0;
	opacity: 0;
	visibility: hidden;
}
.main-menu ul li ul.submenu li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
}
.main-menu ul li a i{
	margin-left: 5px;
}
/*  header-area start   */

/*  slider-area start   */

.slider-area {
	width: 100%;
	overflow: hidden;
}
.slider-active{
	position: relative;
}
.single-slider {
	text-align: center;
	width: 100%;
	padding: 175px 0;
	background-size: cover;
}
.slider-area h4 {
	font-size: 30px;
	color: white;
	text-transform: uppercase;
}
.slider-area h2 {
	color: white;
	font-size: 72px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.slider-area a {
	background: #4272d7;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	padding: 20px 40px;
	display: inline-block;
}
.slider-area a:hover{
	background: #b4caec;
	color: red;
}
/* slider-icon start*/

.slider-active .owl-nav span{
	background: rgb(201, 23, 23);
	color: white;
	height: 40px;
	left: 40px;
	line-height: 35px;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 40px;
	font-size: 35px;
}
.slider-active .owl-next span{
	right: 40px;
	left: auto;
}
.slider-active button.owl-dot {
	width: 18px;
	height: 18px;
	background: #eae3e3;
	display: inline-block;
	margin: 0 10px;
	border-radius: 50px;
}
.slider-active .owl-dots {
	text-align: center;
	z-index: 999;
	position: relative;
	bottom: 40px;
	margin-top: -48px;
}
.slider-active button.owl-dot.active {
	background: red;
}

/*  slider-area end   */

/*  cta-area start   */


.cta-area{
	background: #4272d7;
	padding: 30px;
}
.cta-text{}
.cta-text h3 {
	color: white;
	font-size: 18px;
}
.cta-text h3 span {
	font-size: 30px;
	font-weight: 800;
}
.cta-button {}
.cta-button a {
	padding: 12px 30px;
	border: 2px solid white;
	color: white;
	font-weight: 700;
	display: inline-block;
	margin-left: 15px;
}
.cta-button a:hover{
	background-color: #cfb2b2;
	color: red;
}

/*  cta-area end   */


/*    features-area start   */

.features-area{}
.single-features {
	position: relative;
	overflow: hidden;
}
.single-image{}
.single-image img {
	width: 100%;
}
.features-content {
	position: absolute;
	top: 0;
	left: 0;
	background: #4272d7;
	padding: 30px;
	height: 100%;
	transition: .3s;
	transform: translateY(67%);
}
.single-features:hover .features-content{transform: translateY(0);}
.features-icon {
	margin-bottom: 30px;
}
.features-icon i {
	color: white;
	font-size: 30px;
	display: inline-block;
}
.features-icon h3 {
	color: white;
	font-size: 20px;
	display: inline-block;
	margin-left: 20px;
}
.features-content p {
	color: white;
	line-height: 25px;
}
.features-content a {
	color: white;
	margin-top: 20px;
	display: inline-block;
}
.features-content a i {
	margin-right: 8px;
}

/*    features-area end   */


/*     services-area   start    */

.services-area {
	background: #F0F0F0;
	padding-bottom: 40px;
}
.service-title {
	text-align: center;
	margin-bottom: 80px;
}
.service-title h2 {
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	padding-bottom: 14px;
}
.service-title > h2::before {
	background: #b5a0a0;
	position: absolute;
	width: 50px;
	height: 2px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	content: "";
}
.single-service {
	display: flex;
	margin-bottom: 50px;
}
.service-icon{}
.service-icon i {
	font-size: 26px;
	background: #4272D7;
	color: white;
	font-weight: 700;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
}
.service-content {
	padding-left: 15px;
}
.service-content h4 {
	font-weight: 900;
	color: #555555;
	margin-bottom: 15px;
}
.service-content p {
	font-weight: 600;
	color: #666666;
	line-height: 25px;
}






/*     services-area   End    */



/*   project area start   */

.project-area{
	background-color: #222222;
}
.project-wrapper{
	position: relative;
}
.project-thumb{
	position: relative;
}
.project-thumb img {
	width: 100%;
}
.project-thumb::before {
	background: #4272d7;
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	transition: .3s;
	opacity: 0;
}
.project-wrapper:hover .project-thumb::before{opacity: 1;}
.project-content {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	transform: translateY(-50%);
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}
.project-wrapper:hover .project-content{opacity: 1;visibility: visible;}
.project-content h4{}
.project-content h4 a {
	color: white;
	font-weight: 700;
	margin-bottom: 20px;
	display: inline-block;
	font-size: 15px;
}
.project-content span {
	color: white;
	font-size: 13px;
	font-weight: 400;
}








/*   project area end   */











